<% with_disambiguation ||= false %>
<% with_founded_at ||= false %>
<% with_top_tracks ||= false %>
<% paginate ||= false %>
<% if @artists.none? %>
<p><%= title %></p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr class="<%= cycle('odd', 'even') %>">
        <th style="width: 200px"><%= t("attributes.name") %></th>
  <% if with_disambiguation %>
        <th style="width: 200px"><%= t("activerecord.attributes.music_artist.disambiguation") %></th>
  <% end %>      
  <% if with_founded_at %>      
        <th style="width: 75px"><%= t("activerecord.attributes.music_artist.founded_at") %></th>
  <% end %>
  <% if with_top_tracks %>        
        <th style="width: 100px"><%= t("music_artists.by_name.top3_tracks") %></th>
  <% end %>
        <th style="width: 75px"><%= t("attributes.listeners") %></th>
  <% if @group.present? %>
        <th></th>
  <% end %>
      </tr>
    </thead>
    <tbody>
    <% @artists.each do |artist| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to artist.name, music_artist_path(artist.id) %></td>
      <% if with_disambiguation %>
        <td><%= artist.disambiguation %></td>
      <% end %>
      <% if with_founded_at %>
        <td><%= artist.founded_at.present? ? artist.founded_at.strftime('%d.%m.%Y') : '' %></td>
      <% end %>
      <% if with_top_tracks %> 
        <td><%= raw(artist.tracks.without_slaves.order('plays DESC').limit(3).map{|t| link_to(t.name, music_track_path(t.id)) }.join(', '))%></td>
      <% end %>
        <td><%= artist.listeners %></td>
      <% if @group.present? %>
        <td style="padding: 0px"><%= render partial: 'shared/likes_and_dislikes', locals: { target: @group_artist_connections[artist.id], likes: @group_artist_connection_likes } %></td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>  
<% end %>
<%= will_paginate @artists if paginate %>
<% if params[:group_id].present? %>
<p>
  <%= link_to t('music_metadata_enrichment_group_artist_connections.new.short_title'), new_music_group_artist_path(params[:group_id]) %>
</p>
<% elsif params[:user_id].present? %>
<p>
  <%= link_to t('music_library.index.add_artist'), new_user_music_library_artist_path(params[:user_id]) %>
</p>
<% end %>
