<h3><%= @artist.name %></h3>

<dl class="dl-horizontal">
 <%= show_attribute :mbid, value: link_to(@artist.mbid, "http://musicbrainz.org/artist/#{@artist.mbid}") %>
 <%= show_attribute :founded_at, value: @artist.founded_at.present? ? @artist.founded_at.strftime('%d.%m.%Y') : nil %>
 <%= show_attribute :dissolved_at, value: @artist.dissolved_at.present? ? @artist.dissolved_at.strftime('%d.%m.%Y') : nil %>
 <%= show_attribute :listeners %>
 <%= show_attribute :plays %>
</dl>

<div class="tabs">
  <ul>
    <li><a href="#releases"><%= t('music_releases.index.short_title') %></a></li>
    <li>
      <a href="<%= music_artist_videos_path(@artist.id) %>">
        <%= t('music_videos.index.short_title') %> 
        <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
      </a>
    </li>
  </ul>
  <div id="releases">
    <%= render partial: 'music_metadata_enrichment/releases/collection', locals: { paginate: false } %>
  </div>
</div>