<h3><%= @artist.name %></h3>

<dl class="dl-horizontal">
 <%= show_attribute :mbid %>
 <%= show_attribute :founded_at, value: @artist.founded_at.present? ? @artist.founded_at.strftime('%d.%m.%Y') : nil %>
 <%= show_attribute :dissolved_at, value: @artist.dissolved_at.present? ? @artist.dissolved_at.strftime('%d.%m.%Y') : nil %>
 <%= show_attribute :listeners %>
 <%= show_attribute :plays %>
</dl>

<h4><%= t('music_releases.index.short_title') %></h4>

<% if @releases.none? %>
<p><%= I18n.t("music_releases.index.empty_collection")%></p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr class="<%= cycle('odd', 'even') %>">
        <th><%= t("activerecord.attributes.music_releases.released_at") %></th>
        <th><%= t("attributes.name") %></th>
        <th><%= t("attributes.listeners") %></th>
        <th><%= t("attributes.plays") %></th>
      </tr>
    </thead>
    <tbody>
    <% @releases.each do |release| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= release.released_at.strftime('%d.%m.%Y') if release.released_at.present? %></td>
        <td><%= link_to release.name, music_metadata_enrichment_release_path(release.id) %></td>
        <td><%= release.listeners %></td>
        <td><%= release.plays %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>