<h3><%= link_to t('year_in_review_music_tracks.index.short_title', year: params[:year]), group_or_user_path('music_year_in_review_top_tracks', @year_in_review) %></h3>

<% if request.xhr? %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('#competitive_list_for_tracks').data('competitiveList').matches = <%= raw @year_in_review.top_track_matches.to_json %>
    });
  <% end %> 
<% else %>
  <% content_for :document_ready do %>
    $('#competitive_list_for_tracks').data('competitiveList').matches = <%= raw @year_in_review.top_track_matches.to_json %>
  <% end %>
<% end %>

<table class="table" style="margin-bottom: 0px">
  <thead>
    <tr class="<%= cycle('odd', 'even') %>">
      <th style="width:15px"></td>
      <th style="width: 50px;"><%= t("attributes.position") %></th>
      <th style="width: 200px;"><%= t("music_artists.model.short_name") %></th>
      <th style="width: 200px;"><%= t("attributes.name") %></th>
      <th style="width: 50px"></th>
      <th style="width: 75px;"><%= t("activerecord.attributes.music_release.released_at") %></th>
      <th></th>
    </tr>
  </thead>
</table>   

<% if @year_in_review_tracks.none? %>
<p id="no_tracks_message"><%= t('year_in_review_music_tracks.index.empty_collection') %></p>
<% end %>

<div id="competitive_list_for_tracks">
  <ul class="nav nav-tabs nav-stacked list-striped multisortable competitive_list" id="year_in_review_music_tracks" data-update-all-positions-path="<%= update_all_positions_music_year_in_review_top_track_path(@year_in_review.year) %>">
    <%= render partial: 'library/music/year_in_review_tracks/year_in_review_track', collection: @year_in_review_tracks %>
  </ul>
  
  <nav>
    <ul class="pagination">
<% if @group.blank? && current_user.try(:id) == params[:user_id].to_i %>       
      <li>
        <button type="button" class="btn btn-default remote_modal_link" data-url="<%= new_user_music_year_in_review_top_track_path(params[:user_id], params[:year]) %>">
          <%= t('year_in_review_music_tracks.index.add_single') %>
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-default remote_modal_link" data-url="<%= multiple_new_user_music_year_in_review_top_tracks_path(params[:year]) %>">
          <%= t('year_in_review_music_tracks.index.add_multiple_from_year', year: params[:year]) %>
        </button> 
      </li>
      <li>         
        <button type="button" class="btn btn-default competitive_list_start_link">
          <%= t('general.plugins.competitive_list.sort') %>
        </button>
      </li>
      <li>        
        <button type="button" class="btn btn-default hide save_match_results_link">
          <span class='glyphicon glyphicon-warning-sign'></span> <%= t('general.plugins.competitive_list.save_match_results') %>
        </button>
      </li>
<% end %>
<% if @group.present? || current_user.try(:id) == params[:user_id].to_i %>
      <li>
        <button type="button" class="btn btn-default remote_modal_link" data-url="<%= group_or_user_path('export_music_year_in_review_top_tracks', params[:year]) %>">
          <%= t('general.export') %>
        </button>
      </li>
<% end %>        
      </ul>
    </nav>
  </div>
</div>
