<%= simple_form_for(@year_in_review_track, url: create_user_music_year_in_review_top_track_path(params[:user_id], params[:year]), method: :post, remote: true, html: {class: 'form-horizontal'}) do |f| %>
  <%= hidden_field_tag :year_in_review_music_id, @year_in_review.id %>
  <div class="modal-header">
    <button type="button" id="close_bootstrap_modal_button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= t('year_in_review_music_tracks.index.add_single_long', year: params[:year])%></h3>
  </div>
  <div class="modal-body" style="overflow-y:none;">
    <%= render partial: 'shared/form/error_messages', locals: { resource: @year_in_review_track } %>
    <%= f.input :artist_id, as: :hidden %>
    <%= f.input :artist_name, as: :string, required: true, input_html: { autocomplete: 'on', data: { source: autocomplete_music_artists_path } } %>
    <div id="year_in_review_music_track_artist_name_suggestions"/>
    <%= f.input :track_id, as: :hidden %>
    <%= f.input :track_name, as: :string, required: true %>
    <div id="year_in_review_music_track_track_name_suggestions"/>
  </div>
  <div class="modal-footer">
    <input type="button" id="add_track_button" value="<%= t('music_tracks.new.short_title')%>"/>
  </div>
<% end %>