<% if @tracks.none? %>
<div class="modal-header">
  <button type="button" id="close_bootstrap_modal_button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3><%= t('year_in_review_music_tracks.index.add_multiple_from_year', year: params[:year])%></h3>
</div>
<div class="modal-body" style="overflow-y:none;">
  <%= t('music_tracks.index.empty_collection')%>
</div>
<div class="modal-footer">
</div>
<% else %>
  <%= form_tag multiple_new_user_music_year_in_review_top_tracks_path(params[:year]), method: :get, remote: true, class: 'form-horizontal' do %>
    <div class="modal-header">
      <h3><%= t('year_in_review_music_tracks.multiple_new.title', year: params[:year])%> <%= page_entries_info @tracks %></h3>
    </div>
    <div class="modal-body scrollable-modal-body" style="overflow-y:none;">
      <%= hidden_field_tag :year, params[:year] %>
      <%= hidden_field_tag :page, @page %>
      
      <table class="table" style="margin-bottom: 0px">
        <thead>
          <tr class="<%= cycle('odd', 'even') %>">
            <th style="width: 15px;"></th>
            <th style="width: 75px"><%= t("activerecord.attributes.music_release.released_at") %></th>
            <th style="width: 200px;"><%= t("music_artists.model.short_name") %></th>
            <th><%= t("attributes.name") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tracks.each do |track| %>
          <tr>
            <td><%= check_box_tag "year_in_review_music_tracks[#{track.id}]", 1 %></td>
            <td><%= track.released_at.strftime('%d.%m.%Y') %></td>
            <td><%= link_to track.artist_name, music_artist_path(track.artist_id) %></td> 
            <td><%= link_to track.name, music_track_path(track.id) %></td>
            <td><%= render partial: 'music_metadata_enrichment/tracks/spotify_track_player', locals: { spotify_track_id: track.spotify_track_id } %></td>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <%= submit_tag t('general.close') %> <%= submit_tag t('year_in_review_music_tracks.multiple_new.submit') %>
    </div>
  <% end %>
<% end %>
