<%= form_tag multiple_new_user_music_year_in_review_top_tracks_path(params[:year]), method: :get, remote: true, class: 'form-horizontal' do %>
  <% if params[:only_tracks_of_top_releases].blank? || (params[:only_tracks_of_top_releases] == 'true' && @release_ids.none?) %>
    <div class="modal-header">
      <h3><%= t('year_in_review_music_tracks.index.add_multiple_from_year', year: params[:year])%></h3>
    </div>
    <div class="modal-body" style="overflow-y:none;">
      <%= render partial: 'shared/layouts/twitter_bootstrap/control_group/boolean', locals: { 
        required: true, label: t('year_in_review_music_tracks.multiple_new.only_tracks_of_top_releases'), id: 'only_tracks_of_top_releases'
      } %>
    </div>
    <div class="modal-footer">
      <%= submit_tag t('general.close') %> <%= submit_tag t('general.submit') %>
    </div>
  <% else %>
    <% if @tracks.none? %>
    <div class="modal-header">
      <h3><%= t('year_in_review_music_tracks.index.add_multiple_from_year', year: params[:year])%></h3>
    </div>
    <div class="modal-body" style="overflow-y:none;">
      <%= t('music_tracks.index.empty_collection')%>
    </div>
    <div class="modal-footer">
      <%= submit_tag t('general.close') %> <%= submit_tag t('year_in_review_music_tracks.multiple_new.submit') %>
    </div>
    <% else %>
    <div class="modal-header">
      <h3><%= t('year_in_review_music_tracks.multiple_new.title', year: params[:year])%> <%= t('year_in_review_music_tracks.multiple_new.tracks_left', count: @tracks_left) %></h3>
    </div>
    <div class="modal-body scrollable-modal-body" style="overflow-y:none;">
      <%= hidden_field_tag :only_tracks_of_top_releases, params[:only_tracks_of_top_releases] %>
      <%= hidden_field_tag :year, params[:year] %>
      <%= hidden_field_tag :last_id, params[:last_id] %>
      
      <table class="table" style="margin-bottom: 0px">
        <thead>
          <tr class="<%= cycle('odd', 'even') %>">
            <th style="width:15px;"><input type="checkbox" id="toggle_checkboxes_checkbox"/></th>
            <th style="width:75px;"><%= t("activerecord.attributes.music_release.released_at") %></th>
            <th style="width:200px;"><%= t("music_artists.model.short_name") %></th>
            <th style="width:200px;"><%= t("attributes.name") %></th>
            <th style="width:300px;"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tracks.each do |track| %>
          <tr id="track_<%= track.id %>">
            <td><%= check_box_tag "year_in_review_music_tracks[#{track.id}]", 1, false, class: 'toggleable_checkbox' %></td>
            <td><%= track.released_at.strftime('%d.%m.%Y') %></td>
            <td><%= link_to track.artist_name, music_artist_path(track.artist_id) %></td> 
            <td><%= link_to track.name, music_track_path(track.id) %></td>
            <td>
            <% if track.spotify_track_id.present? %>
              <i class="icon-play play_track_button" data-spotify-track-id="<%= track.spotify_track_id %>" data-target="#spotify_track_player_<%= track.id %>" style="cursor:pointer; cursor:hand;"></i>
              <div id="spotify_track_player_<%= track.id %>">
              </div>
            <% end %>
            </td>
            <td>
              <%= link_to create_user_music_year_in_review_flop_track_path(current_user.id, @year_in_review.year, year_in_review_music_track_flop: { track_id: track.id }), method: :post, remote: true, class: 'btn btn-danger create_music_year_in_review_flop_track_link' do %>
                <%= t('years_in_review_music.general.do_not_show_here_anymore') %> <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
              <% end %>
            </td>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <%= submit_tag t('general.close') %> <%= submit_tag t('year_in_review_music_tracks.multiple_new.submit') %>
    </div>
    <% end %>
  <% end %>
<% end %>
