<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'voluntary_music_metadata_enrichment/tracks/show' %>
<% end %>

<h3><%= @track.artist_name %> - <%= @track.name %></h3>

<dl class="dl-horizontal">
 <%= show_attribute :mbid, value: link_to(@track.mbid, "http://musicbrainz.org/recording/#{@track.mbid}") if @track.mbid.present? %>
 <%= show_attribute :artist_id, value: link_to(@track.artist_name, music_artist_path(@track.artist_id)) %>
 <%= show_attribute :release_id, value: link_to(@track.release_name, music_release_path(@track.release_id)) %>
 <%= show_attribute :duration, value: @track.formatted_duration %>
 <%= show_attribute :released_at, value: @track.released_at.present? ? @track.released_at.strftime('%d.%m.%Y') : nil %>
 <%= show_attribute :listeners %>
 <%= show_attribute :plays %>
</dl>

<%= render partial: 'music_metadata_enrichment/tracks/spotify_track_player', locals: { spotify_track_id: @track.spotify_track_id } %>

<h4><%= t('music_videos.index.short_title') %></h4>

<%= render partial: 'music_metadata_enrichment/videos/collection' %>

<% content_for :sidebar do %>
  <h4><%= t('years_in_review_music.index.short_title') %></h4>
  <% if @year_in_review_music_tracks.keys.empty? %>
  <%= t('years_in_review_music.index.empty_collection') %>
  <% else %>
  <ul class="nav nav-tabs nav-stacked list-striped">
    <% @year_in_review_music_tracks.keys.sort.each do |position| %>
    <li>
      <span style="display: inline;">
        <%= position %>. x <%= @year_in_review_music_tracks[position] %> &nbsp;&nbsp; 
        <%= raw @track.year_in_review_tops.where(position: position).includes(:user).limit(3).map{|t| link_to(t.user.best_available_name, user_music_year_in_review_top_tracks_path(t.user, t.year))}.join(', ') %>
      </span>
    </li>
    <% end %>
  </ul>
  <% end %>
<% end %>
