<h3><%= @track.artist_name %> - <%= @track.name %></h3>

<dl class="dl-horizontal">
 <%= show_attribute :mbid %>
 <%= show_attribute :artist_id, value: link_to(@track.artist_name, music_metadata_enrichment_artist_path(@track.artist_id)) %>
 <%= show_attribute :release_id, value: link_to(@track.release_name, music_metadata_enrichment_release_path(@track.release_id)) %>
 <%= show_attribute :duration %>
 <%= show_attribute :released_at, value: @track.released_at.present? ? @track.released_at.strftime('%d.%m.%Y') : nil %>
 <%= show_attribute :listeners %>
 <%= show_attribute :plays %>
</dl>

<h4><%= t('music_videos.index.short_title') %></h4>

<% if @videos.none? %>
<p><%= I18n.t("music_videos.index.empty_collection")%></p>
<% else %>

  <% @videos.each do |video| %>
<h5><%= link_to video.name, music_metadata_enrichment_video_path(video) %></h4>
<p><%= video.url_html %></p>
  <% end %>

<% end %>
