<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'voluntary_music_metadata_enrichment/tracks/show' %>
<% end %>

<h3><%= @track.artist_name %> - <%= @track.name %></h3>

<dl class="dl-horizontal">
 <%= show_attribute :mbid, value: link_to(@track.mbid, "http://musicbrainz.org/recording/#{@track.mbid}") %>
 <%= show_attribute :artist_id, value: link_to(@track.artist_name, music_artist_path(@track.artist_id)) %>
 <%= show_attribute :release_id, value: link_to(@track.release_name, music_release_path(@track.release_id)) %>
 <%= show_attribute :duration, value: @track.formatted_duration %>
 <%= show_attribute :released_at, value: @track.released_at.present? ? @track.released_at.strftime('%d.%m.%Y') : nil %>
 <%= show_attribute :listeners %>
 <%= show_attribute :plays %>
</dl>

<%= render partial: 'music_metadata_enrichment/tracks/spotify_track_player', locals: { spotify_track_id: @track.spotify_track_id } %>

<h4><%= t('music_videos.index.short_title') %></h4>

<%= render partial: 'music_metadata_enrichment/videos/collection' %>