<% content_for(:title) do %>
  <%= t('music_library.index.title', name: name_with_apostrophe(@user.best_available_name)) %>
<% end %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'voluntary_music_metadata_enrichment/library/index' %>
<% end %>
<% content_for :top_javascript do %>
  var user_id = "<%= params[:user_id] %>";
<% end %>

<h3><%= t('music_library.index.short_title_with_name', name: name_with_apostrophe(@user.best_available_name)) %></h3>

<div class="tabs">
  <ul>
    <li>
      <a href="#releases"><%= t('music_releases.index.short_title') %></a>
    </li>
    <li>
      <a href="<%= user_music_library_videos_path(params[:user_id]) %>">
        <%= t('music_videos.index.short_title') %> 
        <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
      </a>
    </li>
    <li>
      <a href="<%= user_music_library_videos_path(params[:user_id], uploaded_by_the_user: true) %>">
        <%= t('music_library.index.uploaded_videos') %> 
        <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
      </a>
    </li>
    <li>
      <a href="<%= user_music_library_artists_path(params[:user_id]) %>">
        <%= t('music_artists.index.short_title') %> 
        <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
      </a>
    </li>
   <li>
      <a href="<%= user_music_years_in_review_path(params[:user_id]) %>">
        <%= t('years_in_review_music.index.short_title') %> 
        <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
      </a>
    </li>    
  </ul>
  <div id="releases">
    <%= render partial: 'music_metadata_enrichment/releases/collection', locals: { paginate: false, with_artist: true } %>
  </div>
</div>