<% content_for(:title) do %>
  <%= t('music_library.index.title') %>
<% end %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'library/music/index' %>
<% end %>
<% content_for :top_javascript do %>
  var user_id = "<%= params[:user_id] %>";
<% end %>

<h3><%= t('music_library.index.short_title') %></h3>

<div class="tabs">
  <ul>
    <li><a href="#releases"><%= t('music_releases.index.short_title') %></a></li>
    <li>
      <a href="<%= user_music_library_videos_path(params[:user_id]) %>">
        <%= t('music_videos.index.short_title') %>
      </a>
    </li>
    <li>
      <a href="<%= user_music_library_videos_path(params[:user_id], uploaded_by_the_user: true) %>">
        <%= t('music_library.index.uploaded_videos') %>
      </a>
    </li>
    <li>
      <a href="<%= user_music_library_artists_path(params[:user_id]) %>">
        <%= t('music_artists.index.short_title') %>
      </a>
    </li>
  </ul>
  <div id="releases">
    <%= render partial: 'music_metadata_enrichment/releases/collection', locals: { paginate: false, with_artist: true } %>
  </div>
</div>