<% with_artist ||= false %>
<% paginate ||= false %>
<% if @group.present? || params[:user_id].present? %>
<form class="simple_form form-horizontal">
  <%= render partial: 'shared/layouts/twitter_bootstrap/control_group', locals: { 
    required: true, label: t('music_releases.index.year'),
    field: select_tag 'year', options_for_select([['Next', Time.now.strftime('%Y').to_i + 1], ['Current', Time.now.strftime('%Y')], ['Past', Time.now.strftime('%Y').to_i - 1]], @year) %>
  } %>
</form>
<% end %>
<% if @releases.none? %>
<p><%= I18n.t("music_releases.index.empty_collection")%></p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr class="<%= cycle('odd', 'even') %>">
        <th><%= t("activerecord.attributes.music_release.released_at") %></th>
  <% if with_artist %>      
        <th><%= t("music_artists.model.short_name") %></th>
  <% end %>        
        <th><%= t("attributes.name") %></th>
        <th><%= t("attributes.listeners") %></th>
        <th><%= t("attributes.plays") %></th>
      </tr>
    </thead>
    <tbody>
    <% @releases.each do |release| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= release.formatted_released_at_or_future_release_date %></td>
      <% if with_artist %>
        <td><%= link_to release.artist_name, music_artist_path(release.artist_id) %></td>
      <% end %>  
        <td><%= link_to release.name, music_release_path(release.id) %></td>
        <td><%= release.listeners %></td>
        <td><%= release.plays %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= will_paginate @releases if paginate %>

<% if (request.original_url.match('/groups/') || ['groups', 'group_release_connections'].include?(controller_name)) && params[:id] %>
  <%= link_to t('music_releases.index.add'), new_music_group_release_path(params[:id]) %> | 
  <%= link_to t('general.export'), releases_export_music_group_path(params[:id]), class: 'remote_modal_link' %>
<% elsif controller_name == 'artists' && params[:id].present? %>
  <%= link_to t('music_releases.index.add'), new_music_artist_release_path(params[:id]) %>
<% else %>
  <%= link_to t('music_releases.index.add'), new_music_release_path %>
<% end %>