<h3><%= @release.artist_name %> - <%= @release.name %></h3>

<dl class="dl-horizontal">
 <%= show_attribute :mbid, value: link_to(@release.mbid, "http://musicbrainz.org/release/#{@release.mbid}") if @release.mbid.present? %>
 <%= show_attribute :artist_id, value: link_to(@release.artist_name, music_artist_path(@release.artist_id)) %>
 <%= show_attribute :released_at, value: @release.formatted_released_at_or_future_release_date %>
 <%= show_attribute :listeners %>
 <%= show_attribute :plays %>
</dl>

<h4><%= t('music_tracks.index.short_title') %></h4>

<%= render partial: 'music_metadata_enrichment/releases/spotify_album_player', locals: { spotify_album_id: @release.spotify_album_id } %>

<% if @tracks.none? %>
<p><%= I18n.t("music_tracks.index.empty_collection")%></p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr class="<%= cycle('odd', 'even') %>">
  <% unless @release.name == '[Bonus Tracks]' %>        
        <th><%= t("attributes.nr") %></th>
  <% end %>
        <th><%= t("attributes.name") %></th>
        <th><%= t('activerecord.attributes.music_track.is_draft')%>
        <th></th>
        <th><%= t("activerecord.attributes.music_track.duration") %></th>
  <% if @release.name == '[Bonus Tracks]' %>
        <th><%= t("activerecord.attributes.music_track.released_at") %></th>
  <% end %>
        <th><%= t("attributes.listeners") %></th>
        <th><%= t("attributes.plays") %></th>
      </tr>
    </thead>
    <tbody>
    <% @tracks.each do |track| %>
      <tr class="<%= cycle('odd', 'even') %>">
  <% unless @release.name == '[Bonus Tracks]' %>      
        <td><%= track.nr %></td>
  <% end %>
        <td><%= link_to track.name, music_track_path(track.id) %></td>
        <td><%= track.mbid.blank?.inspect %>
        <td><%= render partial: 'music_metadata_enrichment/tracks/spotify_track_player', locals: { spotify_track_id: track.spotify_track_id } %></td>
        <td><%= track.formatted_duration %></td>
  <% if @release.name == '[Bonus Tracks]' %>
        <td><%= track.released_at.strftime('%d.%m.%Y') if track.released_at.present? %>
  <% end %>        
        <td><%= track.listeners %></td>
        <td><%= track.plays %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= will_paginate @tracks, param_name: 'tracks_page' %>

<% content_for :sidebar do %>
  <h4><%= t('years_in_review_music.index.short_title') %></h4>
  <% if @year_in_review_music_releases.keys.empty? %>
  <%= t('years_in_review_music.index.empty_collection') %>
  <% else %>
  <ul class="nav nav-tabs nav-stacked list-striped">
    <% @year_in_review_music_releases.keys.sort.each do |position| %>
    <li>
      <span style="display: inline;">
        <%= position %>. x <%= @year_in_review_music_releases[position] %> &nbsp;&nbsp; 
        <%= raw @release.year_in_review_tops.where(position: position).includes(:user).limit(3).map{|t| link_to(t.user.best_available_name, user_music_year_in_review_top_releases_path(t.user, t.year))}.join(', ') %>
      </span>
    </li>
    <% end %>
  </ul>
  <% end %>
<% end %>