<h3><%= t('music_metadata_enrichment_groups.new.title') %></h3>

<%= simple_form_for(@group, url: music_groups_path, method: :post, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @group } %>
  <%= f.input :name %>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>