<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'voluntary_music_metadata_enrichment/groups/show' %>
<% end %>
<% content_for :top_javascript do %>
  var group_id = "<%= params[:id] %>";
<% end %>

<h3><%= @group.name %></h3>

<div class="tabs">
  <ul>
    <li>
      <a href="#releases"><%= t('music_releases.index.short_title') %></a>
    </li>
    <li>
      <a href="<%= music_group_videos_path(@group.id) %>">
        <%= t('music_videos.index.short_title') %> 
        <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
      </a>
    </li>
    <li>
      <a href="<%= artists_music_group_path(@group.id) %>">
        <%= t('music_artists.index.short_title') %> 
        <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
      </a>
    </li>
  </ul>
  <div id="releases">
    <%= render partial: 'music_metadata_enrichment/releases/collection', locals: { paginate: false, with_artist: true } %>
  </div>
</div>
