<h3><%= title %></h3>

<%= simple_form_for(@track, url: form_url, method: :get, html: {class: 'form-horizontal'}) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @release } %>
  <%= f.hidden_field :artist_id %>
  <%= f.input :name %>
  <%= f.submit 'Search Track' %>
<% end %>