<% paginate ||= false %>
<% if @videos.none? %>
<p><%= I18n.t("music_videos.index.empty_collection")%></p>
<% else %>

  <% @videos.each do |video| %>
<h5><%= link_to video.name, music_metadata_enrichment_video_path(video) %></h4>
<p><%= video.url_html %></p>
  <% end %>
<% end %>

<%= will_paginate @videos if paginate %>

<% if params[:group_id] %>
  <%= link_to t('music_videos.index.add'), new_music_metadata_enrichment_group_video_path(params[:group_id]) %>
<% elsif params[:artist_id] %>
  <%= link_to t('music_videos.index.add'), new_music_metadata_enrichment_artist_video_path(params[:artist_id]) %>
<% elsif controller_name == 'tracks' && params[:id] %>
  <%= link_to t('music_videos.index.add'), new_music_metadata_enrichment_track_video_path(params[:id]) %>
<% else %>
  <%= link_to t('music_videos.index.add'), new_music_metadata_enrichment_video_path %>
<% end %>