<h3><%= @video.name %></h3>

<dl class="dl-horizontal">
 <%= show_attribute :track_id, value: link_to(@video.track_name, music_track_path(@video.track_id)) %>
 <%= show_attribute(:location) if @video.status == 'Live' %>
 <%= show_attribute(:recorded_at, value: @video.recorded_at.present? ? @video.recorded_at.strftime('%d.%m.%Y') : nil) if @video.status == 'Live' %>
</dl>

<%= @video.url_html %>

<%= render partial: 'shared/likes_and_dislikes', locals: { target: @video, likes: @video_likes } %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'voluntary_music_metadata_enrichment/videos/show' %>
<% end %>