<h3><%= link_to t('year_in_review_music_releases.index.short_title', year: params[:year]), group_or_user_path('music_year_in_review_top_releases', @year_in_review) %></h3>

<% if request.xhr? %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('#competitive_list_for_releases').data('competitiveList').matches = <%= raw @year_in_review.top_release_matches.to_json %>
    });
  <% end %> 
<% else %>
  <% content_for :document_ready do %>
    $('#competitive_list_for_releases').data('competitiveList').matches = <%= raw @year_in_review.top_release_matches.to_json %>
  <% end %>
<% end %>

<table class="table" style="margin-bottom: 0px">
  <thead>
    <tr class="<%= cycle('odd', 'even') %>">
      <th style="width:15px"></td>
      <th style="width: 50px; vertical-align:top;"><%= t('attributes.position') %></th>
      <th style="width: 200px; vertical-align:top;"><%= t('music_artists.model.short_name') %></th>
      <th style="width: 200px; vertical-align:top;"><%= t('attributes.name') %></th>
      <th style="width: 50px"></th>
      <th style="width: 67px; vertical-align:top;"><%= t('year_in_review_music_releases.index.top_track_positions_sum')%></th>
      <th style="width: 300px; vertical-align:top;"><%= t('year_in_review_music_tracks.index.shortest_title') %></th>
      <th style="width: 75px; vertical-align:top;"><%= t("activerecord.attributes.music_release.released_at") %></th>
      <th></th>
    </tr>
  </thead>
</table> 

<% if @year_in_review_releases.none? %>
<p id="no_releases_message"><%= t('year_in_review_music_releases.index.empty_collection') %></p>
<% end %>

<div id="competitive_list_for_releases">    
  <ul class="nav nav-tabs nav-stacked list-striped multisortable competitive_list" id="year_in_review_music_releases" data-update-all-positions-path="<%= update_all_positions_music_year_in_review_top_release_path(@year_in_review.year) %>">
    <%= render partial: 'library/music/year_in_review_releases/year_in_review_release', collection: @year_in_review_releases %>
  </ul>
  
  <div class="pagination">
    <ul>
<% if @group.blank? && current_user.try(:id) == params[:user_id].to_i %>        
      <li>
        <button type="button" class="btn remote_modal_link" data-url="<%= new_user_music_year_in_review_top_release_path(params[:user_id], params[:year]) %>">
          <%= t('year_in_review_music_releases.index.add_single') %>
        </button>
      </li>
      <li>
        <button type="button" class="btn remote_modal_link" data-url="<%= multiple_new_user_music_year_in_review_top_releases_path(params[:year]) %>">
          <%= t('year_in_review_music_releases.index.add_multiple_from_year_long', year: params[:year]) %>
        </button> 
      </li>
      <li>         
        <button type="button" class="btn competitive_list_start_link">
          <%= t('general.plugins.competitive_list.sort') %>
        </button>
      </li>
      <li>        
        <button type="button" class="btn hide save_match_results_link">
          <span class='icon-warning-sign'></span> <%= t('general.plugins.competitive_list.save_match_results') %>
        </button>
      </li>
<% end %>
<% if @group.present? || current_user.try(:id) == params[:user_id].to_i %>
      <li>
        <button type="button" class="btn remote_modal_link" data-url="<%= group_or_user_path('export_music_year_in_review_top_releases', params[:year]) %>">
          <%= t('general.export') %>
        </button>
      </li>
<% end %>        
    </ul>
  </div>
</div>  
