<h3><%= link_to t('year_in_review_music_releases.index.short_title', year: params[:year]), group_or_user_path('music_year_in_review_top_releases', @year_in_review) %></h3>

<% if @year_in_review_releases.none? %>
<p><%= t('year_in_review_music_releases.index.empty_collection') %></p>
<% else %>
<table class="table" style="margin-bottom: 0px">
  <thead>
    <tr class="<%= cycle('odd', 'even') %>">
      <th style="width: 50px; vertical-align:top;"><%= t('attributes.position') %></th>
      <th style="width: 200px; vertical-align:top;"><%= t('music_artists.model.short_name') %></th>
      <th style="width: 200px; vertical-align:top;"><%= t('attributes.name') %></th>
      <th style="width: 67px; vertical-align:top;"><%= t('year_in_review_music_releases.index.top_track_positions_sum')%></th>
      <th style="width: 300px; vertical-align:top;"><%= t('year_in_review_music_tracks.index.shortest_title') %></th>
      <th style="width: 75px; vertical-align:top;"><%= t("activerecord.attributes.music_release.released_at") %></th>
      <th></th>
    </tr>
  </thead>
</table>      
<ul class="nav nav-tabs nav-stacked list-striped multisortable" id="year_in_review_music_releases">
  <% @year_in_review_releases.each do |year_in_review_release| %>
  <li data-id="<%= year_in_review_release.id %>" data-position="<%= year_in_review_release.position %>">
    <table class="table" style="margin-bottom: 0px">
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="list-element-striped" id="year_in_review_music_release_position_<%= year_in_review_release.id %>" style="width: 50px; text-align:right"><%= year_in_review_release.position %></td>
        <td class="list-element-striped" style="width: 200px;"><%= link_to year_in_review_release.artist_name, music_artist_path(year_in_review_release.artist_id) %></td>
        <td class="list-element-striped" style="width: 200px;"><%= link_to year_in_review_release.release_name, music_release_path(year_in_review_release.release_id) %></td>
        <td class="list-element-striped" style="width: 67px; text-align: right;">
          <%= year_in_review_top_track_positions_sum(@year_in_review_tracks[year_in_review_release.release_id] || []) %>
        </td>
        <td class="list-element-striped" style="width: 300px;">
          <%= raw year_in_review_track_links(@year_in_review_tracks[year_in_review_release.release_id] || []) %>
        </td>
        <td class="list-element-striped" style="width: 75px"><%= year_in_review_release.released_at.present? ? year_in_review_release.released_at.strftime('%d.%m.%Y') : '' %></td>
        <td class="list-element-striped">
          <% if @group.blank? && current_user.try(:id) == params[:user_id].to_i %>
            <%= link_to destroy_music_year_in_review_top_release_path(year_in_review_release.id), method: :delete, remote: true, class: 'btn btn-danger destroy_music_year_in_review_top_release_link' do %>
              <%= t('general.remove') %> <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>  
  </li>  
  <% end %>
</ul>
<% end %>

<% if @group.blank? && current_user.try(:id) == params[:user_id].to_i %>
  <%= link_to(
    t('year_in_review_music_releases.index.add_single'), new_user_music_year_in_review_top_release_path(params[:user_id], params[:year]), 
    class: 'remote_modal_link'
  ) %> | 
  <%= link_to(
    t('year_in_review_music_releases.index.add_multiple_from_year_long', year: params[:year]), multiple_new_user_music_year_in_review_top_releases_path(params[:year]), 
    class: 'remote_modal_link'
  ) %> | 
<% end %>

<%= link_to t('general.export'), group_or_user_path('export_music_year_in_review_top_releases', params[:year]), class: 'remote_modal_link' %>

