<div class="modal-dialog">
  <div class="modal-content">
    <%= form_tag multiple_new_user_music_year_in_review_top_releases_path(params[:year]), method: :get, remote: true, class: 'form-horizontal' do %>
      <% if @releases.none? %>
      <div class="modal-header">
        <h3><%= t('year_in_review_music_releases.index.add_multiple_from_year', year: params[:year])%></h3>
      </div>
      <div class="modal-body" style="overflow-y:none;">
        <%= t('music_releases.index.empty_collection')%>
      </div>
      <div class="modal-footer">
        <%= submit_tag t('general.close'), class: 'btn btn-default' %>
      </div>
      <% else %>
      <div class="modal-header">
        <h3><%= t('year_in_review_music_releases.multiple_new.title', year: params[:year])%> <%= t('year_in_review_music_releases.multiple_new.releases_left', count: @releases_left) %></h3>
      </div>
      <div class="modal-body" style="overflow-y:scroll;">
        <%= hidden_field_tag :year, params[:year] %>
        <%= hidden_field_tag :last_id, params[:last_id] %>
        
        <table class="table" style="margin-bottom: 0px">
          <thead>
            <tr class="<%= cycle('odd', 'even') %>">
              <th style="width: 15px;"><input type="checkbox" id="toggle_checkboxes_checkbox"/></th>
              <th style="width: 75px"><%= t("activerecord.attributes.music_release.released_at") %></th>
              <th style="width: 150px;"><%= t("music_artists.model.short_name") %></th>
              <th style="width: 150px"><%= t("attributes.name") %></th>
              <th style="width: 300px"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @releases.each do |release| %>
            <tr id="release_<%= release.id %>">
              <td><%= check_box_tag "year_in_review_music_releases[#{release.id}]", 1, false, class: 'toggleable_checkbox' %></td>
              <td><%= release.formatted_released_at_or_future_release_date %></td>
              <td><%= link_to release.artist_name, music_artist_path(release.artist_id) %></td> 
              <td><%= link_to release.name, music_release_path(release.id) %></td>
              <td>
                <% if release.spotify_album_id.present? %>
                  <i class="icon-play play_album_button" data-spotify-album-id="<%= release.spotify_album_id %>" data-target="#spotify_album_player_<%= release.id %>" style="cursor:pointer; cursor:hand;"></i>
                  <div id="spotify_album_player_<%= release.id %>">
                  </div>
                <% end %>
                </td>
              <td>
                <%= link_to create_user_music_year_in_review_flop_release_path(current_user.id, @year_in_review.year, year_in_review_music_release_flop: { release_id: release.id }), method: :post, remote: true, class: 'btn btn-danger create_music_year_in_review_flop_release_link' do %>
                  <%= t('years_in_review_music.general.do_not_show_here_anymore') %> <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
                <% end %>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <%= submit_tag t('general.close'), class: 'btn btn-default' %> 
        <%= submit_tag t('year_in_review_music_releases.multiple_new.submit'), class: 'btn btn-default' %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
