<li id="competitor_<%= year_in_review_release.id %>" data-id="<%= year_in_review_release.id %>" data-position="<%= year_in_review_release.position %>">
  <table class="table" style="margin-bottom: 0px">
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="list-element-striped competitor_position" style="width: 50px; text-align:right"><%= year_in_review_release.position %></td>
      <td class="list-element-striped" style="width: 200px;"><%= link_to year_in_review_release.artist_name, music_artist_path(year_in_review_release.artist_id) %></td>
      <td class="list-element-striped" style="width: 200px;">
        <%= link_to year_in_review_release.release_name, music_release_path(year_in_review_release.release_id) %>
        
        <span class="competitor_name hide"<% if year_in_review_release.spotify_album_id.present? %> data-proc-argument="<%= year_in_review_release.spotify_album_id %>;<%= year_in_review_release.id %>"<% end %>>
          <%= link_to year_in_review_release.artist_name, music_artist_path(year_in_review_release.artist_id) %> - <%= link_to year_in_review_release.release_name, music_release_path(year_in_review_release.release_id) %>
        </span>
      </td>
      <td class="list-element-striped" style="width: 50px; text-align:center;">
  <% if year_in_review_release.spotify_album_id.present? %>
        <i class="icon-play play_album_button" data-spotify-album-id="<%= year_in_review_release.spotify_album_id %>" style="cursor:pointer; cursor:hand;"></i>
  <% end %>
      </td>
      <td class="list-element-striped" style="width: 67px; text-align: right;">
        <%= year_in_review_top_track_positions_sum(@year_in_review_tracks[year_in_review_release.release_id] || []) %>
      </td>
      <td class="list-element-striped" style="width: 300px;">
        <%= raw year_in_review_track_links(@year_in_review_tracks[year_in_review_release.release_id] || []) %>
      </td>
      <td class="list-element-striped" style="width: 75px"><%= year_in_review_release.released_at.present? ? year_in_review_release.released_at.strftime('%d.%m.%Y') : '' %></td>
      <td class="list-element-striped">
        <% if @group.blank? && current_user.try(:id) == params[:user_id].to_i %>
          <%= link_to destroy_music_year_in_review_top_release_path(year_in_review_release.id), method: :delete, remote: true, class: 'btn btn-danger destroy_music_year_in_review_top_release_link' do %>
            <%= t('general.remove') %> <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>  
</li> 